In [163]:
import numpy as np
import pandas as pd
import bike_project as bp

In [164]:
urls = {
        'Ballard' : 'https://data.seattle.gov/resource/47yq-6ugv.json',
        'Capitol_Hill' : 'https://data.seattle.gov/resource/j4vh-b42a.json',
        'Central_2nd_Ave' : 'https://data.seattle.gov/resource/avwm-i8ym.json',
#         'Central_7th_Ave' : 'https://data.seattle.gov/resource/qfzg-zmyj.json',
#         'West_Seattle' : 'https://data.seattle.gov/resource/mefu-7eau.json',
#         'I90_lid' : 'https://data.seattle.gov/resource/u38e-ybnc.json',
#         'NE_Seattle' : 'https://data.seattle.gov/resource/2z5v-ecg8.json',
#         'Myrtle_Edwards' : 'https://data.seattle.gov/resource/4qej-qvrz.json'
        }
limit = 30000
offset = 0

with open('data/app_token.txt', 'r') as t_file: 
    app_token = t_file.read()

In [165]:
urls['Ballard']

'https://data.seattle.gov/resource/47yq-6ugv.json'

In [166]:
df_ = bp.read_bike_trips(urls['Ballard'], 'Ballard', app_token, limit, offset)
for k, v in urls.items():
    if k != 'Ballard':
        df_ = df_.append(bp.read_bike_trips(v, k, app_token, limit, offset))

In [167]:
df_

,date,nw_58th_st_greenway_st_22nd_ave_nw_total,east,west
0,2017-06-04 01:00:00,0.0,0.0,0.0
1,2017-06-04 02:00:00,0.0,0.0,0.0
2,2017-06-04 03:00:00,0.0,0.0,0.0
3,2017-06-04 04:00:00,0.0,0.0,0.0
4,2017-06-04 05:00:00,1.0,1.0,0.0
...,...,...,...,...
26274,2020-06-30 19:00:00,3.0,2.0,1.0
26275,2020-06-30 20:00:00,2.0,2.0,0.0
26276,2020-06-30 21:00:00,0.0,0.0,0.0
26277,2020-06-30 22:00:00,0.0,0.0,0.0
26278,2020-06-30 23:00:00,0.0,0.0,0.0

In [168]:
bp.gen_date_time(df_)
df_

TypeError: gen_date_time() takes 0 positional arguments but 1 was given

In [80]:
df['month'] = pd.DatetimeIndex(df['date']).month
df['year'] = pd.DatetimeIndex(df['date']).year
df['dow'] = pd.DatetimeIndex(df['date']).dayofweek
df['hour'] = pd.DatetimeIndex(df['date']).hour
df['am_commuter'] = df['dow'].isin([7,1,2,3,4]) & (df['hour'].isin([5,6,7,8,9]))
am_commuter_group = (df[df['am_commuter'] == True])
am_commuter_group

,date,nw_58th_st_greenway_st_22nd_ave_nw_total,east,west,month,year,dow,hour,am_commuter
52,2017-06-06 05:00:00,2.0,1.0,1.0,6,2017,1,5,True
53,2017-06-06 06:00:00,8.0,4.0,4.0,6,2017,1,6,True
54,2017-06-06 07:00:00,10.0,7.0,3.0,6,2017,1,7,True
55,2017-06-06 08:00:00,9.0,5.0,4.0,6,2017,1,8,True
56,2017-06-06 09:00:00,10.0,8.0,2.0,6,2017,1,9,True
...,...,...,...,...,...,...,...,...,...
26260,2020-06-30 05:00:00,0.0,0.0,0.0,6,2020,1,5,True
26261,2020-06-30 06:00:00,1.0,0.0,1.0,6,2020,1,6,True
26262,2020-06-30 07:00:00,3.0,3.0,0.0,6,2020,1,7,True
26263,2020-06-30 08:00:00,6.0,3.0,3.0,6,2020,1,8,True
26264,2020-06-30 09:00:00,2.0,1.0,1.0,6,2020,1,9,True

In [82]:
df.groupby(df[['date', 'commuter']])

KeyError: "['commuter'] not in index"